<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: head"></head>
<body class="d-flex flex-column h-100">
	<div th:replace="fragments/navbar :: navbar"></div>

	<main class="flex-shrink-0">
		<div class="container">
			<div class="card-body">
				<h3 class="card-title text-center">Voters</h3>
				<hr>
				<div class="card-text" th:switch="${voters}">					
					<h2 th:case="null">No voters yet!</h2>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Date Of Birth</th>
								<th>Area / Constitution</th>
								<th>Voter Id</th>								
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="voter : ${voters}">
								<td th:text="${voter.name}"></td>
								<td th:text="${voter.email}"></td>
								<td th:text="${#temporals.format(voter.dateOfBirth, 'dd-MMMM-yyyy', new java.util.Locale('en', 'EN'))}"></td>
								<td th:text="${voter.area.name}"></td>
								<td th:text="${voter.voterId}"></td>
								<td><a class="btn btn-danger btn-block" th:href="@{/voter/delete/{id}(id=${voter.id})}">Delete</a></td>
							</tr>
					</table>
				</div>
			</div>
		</div>
	</main>

	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>