<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: head"></head>
<body class="container-fluid">
	<div th:replace="fragments/navbarNoAuth :: navbarNoAuth"></div>
	<div class="container-fluid">

		<div class="px-4 py-5 my-5 text-center">
			<img class="d-block mx-auto mb-4" th:src="@{../images/evote.jpg}"
				alt="" width="150" height="100">
			<h1 class="display-5 fw-bold">eVote</h1>
			<div class="col-lg-6 mx-auto">
				<p class="lead mb-4">Quickly vote for your candidates for
					election at your own convenience from anywhere. Just register with
					your email id and voter id, Or Login if you already have an account
					created.</p>
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
					<a th:href="@{/register}" type="button"
						class="btn btn btn-outline-info btn-lg px-4 gap-3">Register</a> <a
						th:href="@{/login}" class="btn btn-outline-primary btn-lg px-4">Login</a>
						<a
						th:href="@{/elections}" class="btn btn-outline-primary btn-lg px-4">Elections</a>
				</div>
			</div>
		</div>


		<div class="container-fluid">
			<footer th:replace="fragments/footer :: footer"></footer>
		</div>
	</div>
</body>
</html>