<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: head"></head>
<body class="container-fluid">	
	<div th:replace="fragments/navbarVoter :: navbarVoter"></div>

	<main class="flex-shrink-0">
		<div class="container">
			<div class="card-body">
				<h3 class="card-title text-center">On-going Elections in your
					Area / Constitution</h3>
				<hr>
				<div class="card-text" th:switch="${elections}">
					<h2 th:case="null">No election yet!</h2>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Election</th>
								<th>Area / Constitution</th>
								<th>Start Date</th>
								<th>End Date</th>								
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="election : ${elections}">
								<td th:text="${election.name}"></td>
								<td th:text="${election.area.name}"></td>
								<td
									th:text="${#temporals.format(election.startDate, 'dd-MMMM-yyyy', new java.util.Locale('en', 'EN'))}"></td>
								<td
									th:text="${#temporals.format(election.endDate, 'dd-MMMM-yyyy', new java.util.Locale('en', 'EN'))}"></td>							
								<td><a class="btn btn-primary btn-block"
									th:href="@{/voter/electiondetails/{id}(id=${election.id})}">Go to Vote</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>

	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>